html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    margin: auto;
}
header{
    display: flex;
    padding: 20px;
}

.title-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-icons{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.title-icon{
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}
.title-icon:hover{
    text-decoration: underline;
}
.title-icon img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.title-icon p{
    margin: 0;
}
@media screen and (max-width: 800px) {
    .title-icon{
        margin-right: 10px;
    }
    .title-icon img{
        width: 40px;
        height: 40px;
    }
    .title-header {
        width: 60%;
    }
}

nav{
    display: flex;
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

nav a {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

nav a:hover{
    background-color: #ebe2e2;
}

.home-image{
    width: 100%;
    height: 60vh;
    background-image: url("../images/home/pexels-andrea-piacquadio-3768916.jpg");
    background-size: cover;
    background-position-y: -150px;

}
@media screen and (max-width: 850px) {
    .home-image{
        background-position-y: 0px;
        background-repeat: no-repeat;
    }
}
.home-about{
    width: 100%;
    text-align: center;
    padding: 30px 0 30px 0;
}
.about-topic{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
}

.about-topic img{
    width: 60%;
}
.about-topic-descri{
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 2rem;
    padding: 20px;
    position: relative;
    top: 80px;
    right: 60px;
}
@media screen and (max-width: 1200px) {
    .about-topic-descri{
        position: relative;
        top: auto;
        right: auto;
    }
}
@media screen and (max-width: 900px) {

    .about-topic{
        flex-direction: column;
    }
    .about-topic img{
        width: 90%;
        margin: auto;
    }
    .about-topic-descri{
        width: 90%;
        margin: auto;
    }
}


.about-topic-descri legend {
    font-size: 25px;
    font-weight: bold;
}

.about-topic-descri a{
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    transition: 300ms;
    text-decoration: none;
    color: #000;
    margin: 20px;
}

.about-topic-descri a:hover{
    color: #fff;
    background-color: #666666;
}

#footer-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
#footer-component div, #footer-component nav, #footer-component span{
    width: 33%;
}
#footer-component nav{
    border: none;
    padding: 10px;
}
#footer-component nav a{
    width: 100%;
    font-size: 16px;
    border: none;
}
@media screen and (max-width: 700px) {
    #footer-component nav a{
        font-size: 14px;
    }
}
.header1, .header2{
    margin: 0;
}

#toggle-nav{
    display: none;
}

#toggle-nav span {
    display: inline-block;
    transform: rotate(90deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.products-section{
    text-align: center;
    padding: 20px;
}

.products-section-container{
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1200px) {
    .products-section-container{
        flex-direction: column;
    }
}

.product-section-box{
    width: 31%;
    height: 470px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px #000;
    cursor: pointer;
    overflow: hidden;
}
@media screen and (max-width: 1200px) {
    .product-section-box{
        width: 90%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        flex-direction: row;
    }
    .product-section-box div{
        align-self: center;
    }
}

.product-section-box:hover{
    position: relative;
    bottom: 10px;
}
.product-section-box img{
    width: 70%;
    height: 270px;
    margin: 10px auto;
}
.product-section-box h1{
    margin: 20px auto 0 auto;
}
.product-section-box p{
    padding: 20px;
}
@media screen and (max-width: 700px) {
    .product-section-box{
        width: 90%;
        height: 150px;
        flex-direction: row;
        overflow: hidden;
        padding: 10px;
        box-shadow: 1p 1px 1px #000;
    }
    .product-section-box div{
        align-self: auto;
    }
    .product-section-box p{
        margin: 0 auto 0 auto;
        width: 80%;
        height: 40%;
        overflow: hidden;
    }
    .product-section-box img{
        width: 200px;
        height: 130px;
        margin: auto;
    }
}

.timetable,.location{
    padding: 20px;
    text-align: center;
}

.location-container{
    padding: 20px;
    display: grid;
    grid-template-areas:
    "div div div";
}
@media screen and (max-width: 1200px) {
    .location-container{
        display: flex;
        flex-direction: column;
    }
}


.location-box{
    width: 80%;
    height: 85%;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px #000;
}
@media screen and (max-width: 1200px) {
    .location-box{
        margin: 10px auto;
        padding: 20px;
    }
}

.location-box a{
    text-decoration: none;
    font-size: 18px;
    padding: 7px 20px;
    border: 1px solid #000;
    color: #000;
    border-radius: 10px;
    transition: 300ms;
}
.location-box a:hover{
    background-color: #666666;
    color: #fff;
}
.location-detail{
    display: flex;
    flex-direction: row;
    height: 150px;
}
.location-detail img{
    width: 55%;
    height: 100px;
    align-self: center;
}
.location-detail div{
    width: 50%;
    padding: 5px;
}
@media screen and (max-width: 1200px) {
    .location-detail img{
        width: 45%;
        height: 80%;
    }
}



@media screen and (max-width: 900px) {
    main{
        width: 100%;
        border: none;
    }
    nav{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        flex-direction: column;
    }
    #toggle-nav{
        display: initial;
    }

    nav .nav-item{
        display: none;
    }

    nav .nav-shown {
        display: initial;
    }
}
.all-products{
    text-align: center;
    padding: 30px;
}
.product-page-image{
    width: 100%;
    height: 40vh;
    background-image: url("../images/product/pexels-karolina-grabowska-4498610.jpg");
    background-size: cover;
    background-position-y: -350px;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
    .product-page-image{
        background-position-y: -150px;
    }
}
@media screen and (max-width: 700px) {
    .product-page-image{
        background-position-y: 0px;
    }
}
.product-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.product-page-box{
    width: 30%;
    margin: 5px auto;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}
.product-page-box:hover{
    position: relative;
    bottom: 10px;
}

.product-page-box img{
    width: 100%;
}
.product-page-box div{
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .products{
        flex-direction: column;
    }
    .product-page-box{
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px auto;
    }
    .product-page-box img{
        width: 200px;
        height: 150px;
        margin: auto;
    }
    .product-page-box div{
        padding: 10px;
        margin: auto;
    }
    .product-page-box div h1{
        margin: 10px auto;
    }
    .product-page-box div p{
        width: 80%;
        height: 110px;
        overflow: hidden;
        margin: auto;
    }

}
.class-page-image{
    width: 100%;
    height: 40vh;
    background-image: url("../images/class/pexels-karolina-grabowska-4397831.jpg");
    background-size: cover;
}

.class-schedule-timetable{
    padding: 20px;
    text-align: center;

}

.carender-contaienr{
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.calender-container h2{
    margin-bottom: 0;
}
.calender-all-rows{
    width: 95%;
    height: 530px;
    margin: auto;
    overflow: auto;
    padding: 10px;
}
.calender-row{
    width: 90%;
    height: 80px;
    display: flex;
    margin: auto;
}
.calender-component, .calender-component-day{
    width: 100%;
    height: 100%;
    border: 0.2px solid #000;
    cursor: pointer;
}
@media screen and (max-width: 900px){
    .calender-all-rows{
        width: 95%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .calender-row{
        height: 85px;
    }
    .calender-component, .calender-component-day{
        width: 105px;
    }
}
@media screen and (max-width: 700px){
    .calender-all-rows{
        width: 95%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .calender-row{
        height: 75px;
    }
    .calender-component, .calender-component-day{
        width: 80px;
    }
}
@media screen and (max-width: 600px){
    .calender-all-rows{
        width: 95%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .calender-row{
        height: 65px;
    }
    .calender-component, .calender-component-day{
        width: 70px;
    }
}

@media screen and (max-width: 550px){
    .calender-row{
        height: 50px;

    }
    .calender-component, .calender-component-day{
        width: 60px;
        font-size: 12px;
    }
}
.calender-component:hover{
    background-color: #efefef;
}
.calender-component-day{
    height: 30px;
    align-self: flex-end;
}

.book-class{
    width: 100%;
    text-align: center;
}

.book-form{
    width: 90%;
    margin: auto;
}
.input-group{
    display: flex;
    flex-direction: row;
}
.input-group div{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
}

.book-form form div label{
    font-weight: bold;
}
.book-form form div input, .book-form form div select{
    width: 100%;
    height: 35px;
    font-size: 18px;
}
.book-form form div select{
    width: 250px;
    height: 45px;
    font-size: 18px;
}
@media screen and (max-width: 700px) {
    .book-form form div{
        width: 100%;
    }
    .book-form form div input, .book-form form div select{
        width: 80%;
        height: 35px;
        font-size: 18px;
    }
    .book-form form div select{
        width: 150px;
        height: 45px;
        font-size: 18px;
    }
    }

.book-form form button{
    width: 80%;
    height: 40px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms;
}
.book-form form button:hover{
    background-color: #666666;
    color: #fff;
}

.services-page-image{
    width: 100%;
    height: 40vh;
    background-image: url("../images/services/pexels-cliff-booth-4058411.jpg");
    background-size: cover;
    background-position-y: -120px;
}

.services-main{
    text-align: center;
    padding: 30px;
}

.services-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.services{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1170px){
    .services-page-image{
        background-position-y: 0;
    }
    .services{
        flex-direction: column;
    }
}
.service{
    width: 43%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px auto;
    box-shadow: 1px 1px 3px #000;
}
@media screen and (max-width: 1170px){
    .service{
        width: 95%;
        font-size: 14px;
    }
}
.service-detail{
    width: 90%;
    height: 40%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.service-detail img{
    width: 55%;
}

.service-detail div{
    width: 40%;
    margin: auto;
    align-self: center;
}
.service-description{
    width: 85%;
    height: 50%;
    padding: 20px;
    text-align: left;
    margin: auto;
}
@media screen and (max-width: 1170px){
    .service-detail{
        height: 50%;
    }
    .service-detail img{
        width: 55%;
    }
    .service-description{
        height: 50%;
    }
}
@media screen and (max-width: 700px){
    .service-detail img{
        height: 130px;
        align-self: center;
    }
}
.service-description h2 {
    margin: 3px;
}

.contact-main{
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
}
.contact-main form{
    width: 60%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px auto;
}
@media screen and (max-width: 700px) {
    .contact-main form{
        width: 80%
    }
}
.contact-container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
.contact-input{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.contact-input input{
    width: 90%;
    height: 30px;
    font-size: 18px;
}
.contact-message{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
}
textarea{
    font-size: 18px;
}
label{
    font-weight: bold;
}
.contact-button{
    width: 90%;
    margin: 20px auto;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}
button:hover{
    background-color: #666;
    color: #fff;
}

.validation-error {
    display: none;
    color: red;
}
input:valid, textarea:valid {
    border: green 1px solid;
}
input:invalid + .validation-error, textarea:invalid + .validation-error {
    display: initial;
}

.book-form-button {
    width: 70%;
    margin: 20px auto;
}
.help{
    margin: 0;
}
.help-main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.help-main img{
    width: 60%;
    border: 1px solid #000
}
.help-tip {
    width: 80%;
    margin: 5% auto;
    text-align: left;
}
.help-video {
    width: 400px;
    position: absolute;
    top: 100px;
    display: none;
}
.show {
    display: initial;
}

.help-video img{
    width: 100%;
}

.agree-terms{
    display: flex;
    flex-direction: column;
}
.agree-terms input{
    margin: 10px auto;
}